<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/appointment.css">
    <title>Appointment</title>
</head>
<body>
    <div class="doctor-details" id="doctorDetails">
        <!-- Doctor details will be populated here -->
    </div>
    <div class="doctor-availability" id="doctorAvailability">
        <!-- Doctor availability slots will be populated here -->
    </div>
</body>
<script src="../scripts/appointment.js"></script>
</html>