<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="stylesheet" href=" ../styles/index.css">
  <link rel="stylesheet" href="../styles/doctor.css">

  <title>Homepage</title>
</head>

<body>
  <div class=" navbar">
    <div class="logo">
      <a href="../index.html">
        <img src="../imagesData/Heal-Hub-Logo-removebg-preview (1).png" alt="error" />
      </a>

    </div>

    <div class="mininav">
      <div class="one" class="home_link">
        <a href="#">
          <p>Home</p>
        </a>
      </div>
      <div class="one" id="about_link">
        <a href="#">
          <p>About Us</p>
        </a>
      </div>
      <div class="one" id="services_link">
        <p onclick="window.location.href ='./doctors.html';">Doctors</p>
      </div>
      <div class="one" id="team_link">
        <p>Team</p>
      </div>
      <div class="one" id="blog_link">
        <p>Blog</p>
      </div>
      <div class="one" id="contact_link">
        <p>Contact Us</p>
      </div>
    </div>
    <div class="login">
      <div id="navbar_info">
        <div class="signUp">
          <a href="./signup.html">SignUp</a>
        </div>
        <div class="signIn">
          <a href="./login.html">SignIn</a>
        </div>
      </div>
    </div>

  </div>

  <h1>Doctors List</h1>
  <div class="doctors-container" id="doctorsContainer">
    <!-- Doctors cards will be added here dynamically using JavaScript -->
  </div>

  <div class="footer">
    <img src="../imagesData/footer.png" alt="">
  </div>



  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="../scripts/index.js"></script>
  <script src="../scripts/doctor.js"></script>


</body>

</html>