<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/signup.css" />
    <link rel="stylesheet" href="../styles/login.css"/>
    
    <title>Loginpage</title>
</head>
<body>
    <div class= "navbar">
        <div class="logo">
            <a href="../index.html">
                <img src="../imagesData/Heal-Hub-Logo-removebg-preview (1).png" alt="error"/>
            </a>
          
        </div>

        
        <div class="mininav">
            <div class="one" class="home_link">
                <a href="#">
                  <p>Home</p>
                </a>
              </div>
              <div class="one" id="about_link">
                <a href="#">
                  <p>About Us</p>
                </a>
              </div>
              <div class="one" id="services_link">
                <p>Services</p>
              </div>
              <div class="one" id="team_link">
                <p>Team</p>
              </div>
              <div class="one" id="blog_link">
                <p>Blog</p>
              </div>
              <div class="one" id="contact_link">
                  <p>Contact Us</p>
              </div> 
        </div>
        
        <div class="login">
          <div id="navbar_info">
            
          </div>  
        </div>
    </div>



     <!-- login -->
    <main>
        <div id="maindiv">
            <div id="from">
                <button class="Googlebtn" id="authgoogle"> <img class="googleicon" src="../imagesData/Glogo.png" alt="Google"></button>
                <button class="Googlebtn" > <img class="googleicon" src="../imagesData/facebook.png" alt="Facebook"></button>
                <form>
                    <!-- <label for="Email">Email</label><br> -->
                    <input type="Email" id="Email" class="input" placeholder="Email"><br>
                    <!-- <label for="Password">Password</label><br> -->
                    <input type="Password" id="Password" class="input" placeholder="Password"><br>
                    <h6><a id="forgetpass" href="./adminlogin.html">Login For Admin</a></h6>

                    <button id="loginbtn">Log In</button>
                    <p class="temp">Don't have an account? <a href="./signup.html">SignUp</a></p>
                </form>
            </div>
        </div>
    </main>

    <div class="footer">
        <img src="../imagesData/footer.png" alt="">
      </div>
      
      <!-- <script src="./scripts/index.js"></script> -->
      <script src="../scripts/login.js"></script>
  
  </body>
  </html>    