.logo img{
  /* border: solid 2px greenyellow; */
  width: 100%;
  height: 100%;
}
.navbar{
  /* border: solid 2px black; */
  display: flex;
  justify-content: space-between;
  height: 130px;
  color: rgb(67, 65, 65);
  margin-bottom: 20px;
}

.navbar > .logo {
  margin-left: 160px;

}
.mininav{
  /* border: solid 2px blue; */
  width: 700px;
  display:flex ;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  /* margin-right: 500px; */
}

a {
  text-decoration: none;
  color: rgb(67, 65, 65);

}
/* .mininav > div {
  border: solid 2px darkgreen;

} */

.login {
  /* border: solid 2px purple; */
  display: flex;
  width: 160px;
  justify-content: space-between;
  align-items: center;
  margin-right: 200px;
  font-size: 18px;
  font-weight: bold;
}

.login > div:nth-child(1) {
  display: flex;
}
.login > div:nth-child(1) > div {
  margin-left: 15px;
  font-size:17px;
  /* padding-top: 5px; */
  cursor: pointer;
}
.login > div:nth-child(1)  a {
  text-decoration: none;
  color:#333;
}
.login > div:nth-child(1) > div:hover {
  text-decoration: underline;
}






.doctor-details {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .doctor-details h2 {
    color: #333;
  }
  
  .doctor-details img.avatar {
    max-width: 100px;
    border-radius: 50%;
  }
  
  .doctor-details p {
    margin: 10px 0;
  }
  
  /* CSS for doctor availability section */
  .doctor-availability {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .doctor-availability h2 {
    color: #333;
  }

  .footer img{
    width: 100%;
  }