body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .doctors-container {
    width: 60%;
    margin: auto;
  }
  .doctor-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .doctor-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .doctor-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .doctor-email {
    color: #444;
    margin-top: 5px;
  }
  
  .doctor-contact {
    color: #777;
    margin-top: 5px;
  }
  
  .doctor-specialties {
    margin-top: 10px;
  }

  .doctor-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .doctor-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
  
  .doctor-button:hover {
    background-color: #0056b3;
  }